<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="F:/QA Project/Web Automation/BDShopWebAutomation/src/test/java/testcases">
        <classes>
            <class name="testcases.TestHomePage">
                <methods>
                    <include name="TestHomePageTitle"/>
                    <include name="TestHomePageUrl"/>
                </methods>
            </class>
            <class name="testcases.TestLoginPage">
                <methods>
                    <include name="LoginWithInvalidEmailAndValidPassword"/>
                    <include name="LoginWithInvalidCredentials"/>
                    <include name="LoginWithValidEmailAndInValidPassword"/>
                    <include name="LoginWithInvalidEmailAndPassword"/>
                    <include name="LoginWithEmptyMailAndPassword"/>
                    <include name="LoginWithValidCredentials"/>

                </methods>
            </class>
            <class name="testcases.testAccountPage">
                <methods>
                    <include name="LoginWithValidCredentials"/>
                    <include name="testAccountPageUrl"/>
                    <include name="testAccountPageTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>